body {
    text-align: center;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 60px;
    font-family: monospace;
}

input[type="text"] {
    align-self: center;
    width: 35%;
    padding: 12px 20px;
    border: 3px solid black;
    border-radius: 4%;
    margin-bottom: 30px;
    font-family: monospace;
    font-size: 20px;
    font-weight: 900;
}

input[type="button"] {
    align-self: center;
    width: 35%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    font-family: monospace;
    font-size: larger;
}

input[type="button"]:hover {
    background-color: #45a049;
}

#output {
    align-self: center;
    width: fit-content;
    height: 1em;
    padding: 5px 40px 5px 40px;
    margin-top: 15px;
    font-family: monospace;
    font-size: 35px;
}